/**NAV-BAR**/
nav{
    background-color: #884A39;
    font-size:1.4rem;
    padding:10px;
}
ul{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}
ul li:first-child{
    padding-right:65%;
}
ul li{
    padding-right:60px;
}
.nav-list-item{
    list-style-type: none;
}
.nav-list-item a{
    color:white;
    text-decoration: none;
    border:1px solid transparent;
}
.nav-list-item a:hover{
    padding-top:30px;
    padding-bottom:30px;
    padding-left:6px;
    padding-right:6px;
    background-color: #FFC26F;
    cursor:pointer;
}
/**MAIN**/
.main-img{
    width:800px;
    height:500px;
    margin:50px;
}
.main-div{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.left-div{
    margin-left:150px;
}
h2{
    text-align: justify;
    margin-top:50px;
}
/**FOOTER**/
.footer-div{
    padding-top:20px;
    width:100vw;
    position: fixed;
    left: 0;
    bottom: 0;
    padding:30px;
    background-color: #884A39;
    color:white;
    font-size:1.4rem;
    display:flex;
    justify-content: center;
    align-items: center;
}
/**MENU**/
.menu-div{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    height: 30vh;
}
.menu-heading{
    text-align:center;
    font-size:1.8rem;
}
.menu-square{
    width:25%;
    height:50%;
    /* border:2px solid red; */
    margin-right:30px;
   
}
.menu-img{
    width:400px;
    height:400px;
}
.img-desc{
    font-size:1.4rem;
    margin:10px;
}
/**ABOUT**/
.about{
    text-align: justify;
    margin-top:50px;
    margin-left:20px;
    margin-right: 20px;
    font-size:1.2rem;
}